template(name="topbar")
  .nav-wr
    nav 
      ul 
        li.brand 
          a(href="{{ pathFor route='home'}}") Markdown to View
        //- li
        //-   a(href="{{ pathFor route='files' }}") Файлы
        //- 
