@import "../var";
@import '../mixins';

ul.files{
  margin-bottom: 4*$gutter;
  li.file{
    .delete{
      visibility: hidden;
      margin: 0 $gutter;
      @include transition(.125s linear);
      // visibility: hidden:;
    }
  }

  li.file:hover{
    .delete{
      visibility: visible;
      // display: inline;
    }
  }


}
