template(name="editor")
  if editorShowResult
    a.button#editorShowResult Не отображать результат
  else
    a.button#editorShowResult Отображать результат
    
  form#editor
    input#name(type="text" placeholder="Имя Файла" value="{{name}}" )
    input#id(type="hidden" value="{{_id}}")
    .editor
      textarea#mdInput(placeholder="Markdown-текст" rows="20")
      //- if editorShowResult
      .markdown#textOutput 
        
    .buttons
      input(type="submit", value="Сохранить")
